
.erro{
	color: red;
}

.form-control{
	border: solid 1px green;
	height: 40px;
	width: 500px;
}

.radiobutton{
	width: 15px;
	height: 15px;

}

label{
	font-style: normal; 
}


#button{
	background-color: #008000;
	color: white;

}


