<!---->
<div class="topoBarra">
  <img class="icnBarra" src="../assets/img/iconeBarra.png">  Home
  <img class="barraVert" src="../assets/img/barra_vert.png"/>
</div>
<div class="barraHome">
  <form class="home">
    <p style="color: #248b62; font-size: 1.8em">Assista e cadastra-se ;)</p>
      <p style="color: #06d381; font-size: 1.em">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisl nulla, pretium interdum mi at,
        congue hendrerit leo. Nunc elementum turpis ac arcu dapibus varius. Aliquam sagittis massa et faucibus
        finibus. Donec congue ultricies nunc eu sagittis. Duis malesuada congue est, eu faucibus nisl porta sit
         amet. Duis vel neque tincidunt, venenatis lorem nec, consectetur diam. 
        <br/>
        <br/>
        Morbi at efficitur sapien. Donec luctus, felis sit amet elementum malesuada, ante lacus ultricies magna, 
        sit amet pretium ipsum ligula suscipit mauris. In consequat mattis ex eu luctus. Phasellus posuere in nibh
        sed ultricies. Praesent aliquet luctus elit sodales iaculis.
        In sed gravida ex, vel tristique ante. Phasellus nec mi quis urna laoreet imperdiet.
        <br/>
        <br/>
        Extremamente legal, né?.
        <br/>
        <br/>
        Estamos em fase Beta, aproveite! Os custos sempre nessa fase serão diminuidos para você
        poder testar as funcionalidades novas!
        Esse texto é meramente ilustrativo, e tá aqui pra encher linguiça.
        Equipe Quero Aulas.
        Seja Bem-vindo!
        Quero agradecer a minha mãe, ao meu pai ... sqn, e principalmente a vc[xuxa]!
      </p>
      <button pButton type="button" [routerLink]="['/login']" class="ui-button-warning" size="100" label="Quero Começar!" ></button>
      <img class="videoInstitucional" src="../assets/videos/video.jpg"/>
      </form>
  <!--video class="videoInstitucional" width="460" heigth="320" controls>
    <source src="../assets/videos/angularTemplates.mp4" type="video/mp4">
      Seu browser não suporta a tag de video. Aqui tem um video.
  </video-->
</div>
